<!DOCTYPE html>
<html>

<head>
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
</head>

<body>

    <div class="wrapper">
        <header>
            <div class="header-container">
                <div class="text-container">
                    <h2 class="project-title"> Sculpting Scenes: Multi-Task Deep Learning Frameworks for Abstracting Visual Information </h2>
                    <p class="project-team">Timothy Gould, Priyanka Rajendrakumar Bhise, Hammad Mansoor, Benita Alexander</p>
                    <p class="project-team">Advisor: Dr. Sidike Paheding</p>
                    <p class="project-team">School of Engineering & Computing</p>
                </div>
                <div class="logo-container">
                    <img src="static/images/fairfieldu-logo.png" alt="Logo" class="logo">
                </div>
            </div>
        </header>
        <div class="button-launch-model">
            <a href="liveStreaming.html">
                <button type="submit" id="launch-model">Scene Understanding</button>
            </a>
        </div>
    </div>
</body>

</html>